@page
@model QuizApp.Pages.ResultsModel
@{
        ViewData["Title"] = "Results";
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager

<div class="text-center">
    <h5 class="display-6">Here you can see the results of your last game.</h5>
    <br>
@{
    var userResults = Model.Results.Where(c => c.user_id == userManager.GetUserId(User)).ToList();

    if(userResults.Count() != 5)
    {
        <p>Complete the game from start to finish to see your results!</p>
    }
    else
    {
        var imagePath = "";
        var altText = "Shape of the country";
        var cor = new Models.Country();
        var sel = new Models.Country();
            
        <table class="table">

        @foreach(var res in userResults)
        {
                cor = Model.Country.Where(c => c.id == res.correct_answer).First();
                sel = Model.Country.Where(c => c.id == res.selected_answer).First();

                imagePath = "~/css/images/" + @cor.image_name;

                <tr>
                    <td><img src="@Url.Content(imagePath)" alt="@altText" /></td>
                    <td>Correct answer: @cor.country_name</td>
                    <td>Your answer: @sel.country_name</td>
                </tr>       
        }

        </table>
    }
}

</div>