@page
@model QuizApp.Pages.Countries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country[0].country_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country[0].image_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Country) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.country_name)
            </td>
            <td>
                @{
                    var imagePath = "~/css/images/" + @item.image_name;
                    var altText = "Shape of " + @item.country_name;
                }
                
                <img src="@Url.Content(imagePath)" alt="@altText" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
